/System/nbproject/private/
/System/build/
/System/dist/
/Gerenciamento_Academia/nbproject/private/
/Gerenciamento_Academia/build/
/Gerenciamento_Academia/dist/
Gerenciamento_Academia/nbproject/project.properties
Gerenciamento_Academia/nbproject/project.properties
Gerenciamento_Academia/src/META-INF/persistence.xml
Gerenciamento_Academia/nbproject/project.properties
Gerenciamento_Academia/nbproject/project.properties
Gerenciamento_Academia/nbproject/project.properties
Gerenciamento_Academia/nbproject/project.properties
Gerenciamento_Academia/nbproject/project.properties
*.properties
*.properties
/Copias_De_Classes/nbproject/private/
/Copias_De_Classes/build/
