/*
 * Empty Stylesheet file.
 */

 .mainFxmlClass {
    -fx-background-color: #e5f8e8;
    }

    .textfields_esquerda{
        -fx-border-width: 0px 0px 1px 0px;
        -fx-border-color: #ccc;
        -fx-background-color: transparent;
    }

    .painelcurva{
        -fx-background-color: linear-gradient(to left,  #1bb479, #13537e); 

        -fx-fill: linear-gradient(to right,  #26b07b, #13537e); 
    }

    .tabela{
        -fx-background-color: linear-gradient(to left,  #26b07b11, #13537e18); 
    }

    .botao{
        -fx-background-color: linear-gradient(to left,  #0d7e534e, #0a3e6048);
        -fx-text-fill: rgb(255, 255, 255);
        -fx-background-radius: 10px
    }

    .tabelinha{
        -fx-background-color: linear-gradient(to left,  #ffffff4e, #c2cfd748);
        -fx-text-fill: rgb(255, 255, 255);
        -fx-background-radius: 0px
    }
