/*
 * Empty Stylesheet file.
 */

 .mainFxmlClass {
    -fx-background-color: #00ff000e;
    }

    .splitpane{
        -fx-background-color: #ffffff;
    }
    .plano{
        -fx-background-color: linear-gradient(to left,  #26b07b, #13537e); 
    }

    .curved-pane {
        -fx-background-color: #4286f4;
        -fx-background-radius: 0 0 10 10;
        -fx-border-radius: 0 0 10 10;
        -fx-border-width: 2;
        -fx-border-color: #0b48a0;
    }

    .painelcurva{
        -fx-background-color: linear-gradient(to left,  #26b07b, #13537e); 

        -fx-fill: linear-gradient(to right,  #26b07b, #13537e); 
    }

    .tabela{
        -fx-background-color: linear-gradient(to left,  #0d7e5305, #0a3e6002);
        -fx-text-fill: rgb(255, 255, 255);
        -fx-background-radius: 10px
    }

    .tabelinha{
        -fx-background-color: linear-gradient(to left,  #0d7e532f, #0a3e602a);
        -fx-text-fill: rgb(255, 255, 255);
        -fx-background-radius: 0px
    }