/*
 * Empty Stylesheet file.
 */

 .mainFxmlClass {
    -fx-background-color: #00ff0011;
    }
.textfields_esquerda{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #ccc;
    -fx-background-color: transparent;
}